.bg-container-faq{
    position: absolute;
    z-index: -1;
    width: 100%;
}

.bg-faq{
    margin-top: 100px;
    width: 100%;
    height: 240px;
}

.faq-title{
    padding-left: 20% ;
    z-index: 0;
    margin: auto;
}

.accordion-body-second{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.accordion-body{
    text-align: start;
} 

.accordion-collapse{
    padding: 0px 150px;
}
.accordion-body-second p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: var(--color-6-typography);
}

.faq-title p{
    margin-bottom: 0px;
}

.accordion-button p{
    color: var(--color-6-typography);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 25px;
}

.accordion-style{
    border-bottom: solid var(--color-1);
}

.accordion-body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: var(--color-6-typography);
}

.accordion-item{
    border: none;
}

/*Boton acordion*/


.accordion-button {
    z-index: 2;
    color: white;
    background-color: white;
    font-size:3rem;
}

.accordion-button:focus{
    z-index: 2;
    border-color: white;
    box-shadow: none;
}

.accordion-button:not(.collapsed){
    z-index: 3;
    background-color: white;
    color: white;
    box-shadow: none;
}

.accordion-button::after{
    background-image: url('../../assests/VectorAcordion.png');
}

.accordion-button:not(.collapsed)::after{
    background-image: url('../../assests/VectorAcordionActive.png');
}

/*Version mobile*/

@media screen and (max-width:576px) {
    #faq{
        display: none;
    }
}

