.welcome{
    margin-top: 5%;
}

.text-justify{
    text-align: justify;
    color: var(--color-6-typography);
}

.btn-bienv{
    background-color: var(--color-2);
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--color-6-typography);
}

.btn-bienv:hover{
    background-color: #B3B5B6;
    color: #FFFFFF;
}

/*Version mobile*/

@media screen and (max-width:576px) {
    .mobile-version{
        justify-content: center !important;
        align-items: center;
        text-align: center;
    }
    .text-mobile{
        text-align: center;
    }

    .img-welcome{
        width: 80vw;
    }
}


