
.team{
    justify-content: space-between;    
}

.title-team{
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--color-6-typography);
    margin:  0 85px 85px 85px;
    padding-top: 125px;
}

.title-team h2{
    border-bottom: solid 2px #431C6B;
}

.card-content{
    background: linear-gradient(180deg, #FDF4E4 0%, #58119C 65.42%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 420px;
    height: 466px;
    max-width: 350px;
    cursor: pointer;
}

.card-content-melisa{
    background: rgba(88, 17, 156, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    max-width: 350px;
    cursor: pointer;
}

.img{
    max-width: 272px;
    max-height: 272px;
    justify-content: center;
    align-items: center;
}

.card-body-team p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #ffffff;
}

.card-body .text-lic{
    font-weight: 600;
    font-size: 20px;
}

.bg-modalTeam{
    background-color: var(--color-1);
    color: var(--color-5);
}

.team-content .modal-content svg {
    color: var(--color-5);
}

@media screen and (max-width: 576px) {
    .mobile-column{
        flex-direction: column;
        align-items: center;
        gap: 45px;
    }

    .card-content{
        width: 75% !important;
    }

    .card-content-melisa{
        width: 75% !important;
    }

    .img-team{
        width: 100%;
    }
}

