.contact-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
   margin-top: 5rem;
}

.contact-title h2{
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-6-typography);
}

.contact-title p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    color: var(--color-6-typography);
}

form{
    gap: 1.2rem;
    align-items: center;
    height: 80%;
}

form button{
    background: #A7DBA5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 640px;
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--color-6-typography);

}

form p{
    width: 640px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--color-6-typography);

}

input, textarea{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 640px;
    padding: 20px;
    border: none;
}

.contact-content{
    align-items: center;
}

.contact-img{
    padding-right: 75px;
}

.contact-content p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: var(--color-6-typography);
}