
.tamano-logo{
    width: 251px;
    height: 71px;
};

.container-modif-lineaDiv{
    --bs-gutter-x: 0rem;
}
.div-img{
    width: 100%;
    vertical-align: super;
}

.nav-text{
    color: var(--color-6-typography); 
}
