
.tamano-logo{
    width: 200px;
}

.shadow-violet{
    box-shadow: 10px 10px var(--color-1);
}

.container-modif-lineaDiv{
    --bs-gutter-x: 0rem;
}

.div-img{
    width: 100%;
    vertical-align: super;
}

.nav-text{
    color: var(--color-6-typography); 
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 22px;
}

.shadow-violet{
    box-shadow: 0 0.5rem 1rem rgba(88,17,156,.30);
}                  
