.bg-footer{
    background-color: var(--color-1);
    color: var(--color-5);
    height: 100px;
}

.logo-width{
    width: 80px;
    padding: 5px;
}

.icons-width{
    width: 60px;
}

.line-style{
    height: 80px;
    margin-left: 100px;
}

.bg-footer div a{
    text-decoration: none;
    color: var(--color-5);
}

/*Version mobile*/

@media screen and (max-width:576px) {
    .bg-footer{
        height: auto;
    }
    .line-style{
        display: none;
    }
    .bg-footer .logo-width{
        width: 100%;
    }
    .icons-width{
        width: 40%;
    }

    .bg-footer button{
        font-size: 12px;
        margin-right: 20px;
    }

    .bg-footer p{
        padding: 0px;
    }
}