/*Mobile version*/

@media screen and (max-width:576px) {
    .benefits .flex-column div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin-top: 25px;
    }
    .benefits .cards-b{
        width: 50%;
        padding: 1%;
    }

    .benefits img{
        width: 80%;
    }

    .benefits-content{
        padding: 0px !important;
    }
}